/*font-family: 'Lato', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
}

body {
    font-size: 2rem;
    /*    max-width: 1240px;*/
    margin: 0 auto;
}


.menu {
    max-width: 1240px;
    min-width: 1185px;
    margin: 0 auto;
    font-size: 0;
    text-align: right;
    padding: 10px 0;

}

nav a {
    display: inline-block;
    padding: 20px 20px 10px;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #1B3E28;
    /*    font-family: 'Open Sans Condensed',
    sans-serif;
    */
}

nav a:hover {
    border-bottom: 1px solid #132c1d;
    color: #09150e;
    font-size: 1.6rem;
    ;

}

.slogan {
    font-size: 4rem;
    float: left;
    color: #557E38;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 4px;

}

.btn5 {
    border: 1px solid #1B3E28;
    font-size: 1.7rem;
    padding: 10px 70px;
    margin-left: 30px;
}

.btn5:hover {
    background-color: #a3a032;
    color: white;

}

header {
    height: 35vh;
    background-image: url(../assets/road-4564817_1280.jpg);
    /*
    background-repeat: no-repeat;
    background-position: center;
*/
    background-size: cover;
    min-width: 860px;
    font-style: italic;
    text-transform: inherit;

}

header h1 {
    display: inline-block;
    padding-top: 200px;
    font-size: 6rem;
    color: #fffa4f;
    padding-left: 20px;
    /*    line-height: 60vh;*/
    background-color: rgba(0, 0, 0, 10%);

}

main {

    margin: 0 auto;
}

.text {
    /*    background-color: #eee;*/
    max-width: 1240px;
    margin: 0 auto;
    color: #4a6f30;



}

main p {
    text-align: center;
    display: inline-block;
    width: 1240px;
    /*    font-family: 'Open Sans Condensed', sans-serif;*/

    font-size: 1.7rem;
    font-family: 'Lato', sans-serif;
    padding: 30px 50px 10px;
    text-align: justify;
    text-align-last: center;

}


main p + p {
    font-size: 1.9rem;
    ;
    color: black font-size: 2.8rem;
    padding-bottom: 30px;


}

.text p span {
    font-style: italic;
    font-size: 1.5rem;
    line-height: inherit;
    ;
}

.travels {
    max-width: 1240px;
    margin: 0 auto;
    background-color: #fff;

}

footer {
    height: 70px;
    background-color: #333;
    text-align: center;
    7 + 66
}

footer a {
    color: aliceblue;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 70px;
