/*font-family: 'Lato', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0 auto;
    font-size: 2rem;
}

.menu {
    max-width: 1240px;
    min-width: 1185px;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 0;
    text-align: right;
}

nav a {
    display: inline-block;
    padding: 25px 20px 10px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #1B3E28;
}

nav a:hover {
    border-bottom: 1px solid #132c1d;
    font-size: 1.6rem;
    color: #09150e;
}

.slogan {
    display: inline-block;
    padding-top: 10px;
    float: left;
    text-transform: lowercase;
    font-size: 4rem;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 4px;
    color: #557E38;
    transition: 1s;
}

.slogan:hover {
    border-bottom: none;
    font-size: 4rem;
}

.btn5 {
    border: 1px solid #1B3E28;
    margin-left: 30px;
    padding: 10px 70px;
    font-size: 1.7rem;
    transition: 1s;
}

.btn5:hover {
    background-color: #a3a032;
    color: white;
}

header {
    height: 55vh;
    min-width: 860px;
    background-image: url(../assets/road-4564817_1280.jpg);
    background-size: cover;
    text-transform: inherit;
}

header h1 {
    display: inline-block;
    width: 100vw;
    padding-top: 200px;
    padding-left: 300px;
    font-size: 5rem;
    font-weight: 300;
    color: #fffa4f;
    line-height: 55vh;
}

main {
    margin: 0 auto;
}

.text {
    max-width: 1240px;
    margin: 0 auto;
    color: #4a6f30;
}

main p {
    display: inline-block;
    width: 1240px;
    padding: 50px 238px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    line-height: 3rem;
}

.motto {
    width: 100vw;
    height: 90px;
    background-color: #1B3E28;
    text-align: center;
    font-size: 2.8rem;
    letter-spacing: 1px;
    color: white;
}

.motto p {
    margin: 0;
    padding: 15px 0;
    text-align: center;
}

.motto p span {
    font-size: 1.5rem;
    font-style: italic;
    letter-spacing: 1px;
}

.travels {
    max-width: 1240px;
    margin: 70px auto 100px;
    font-size: 0;
}

.travel {
    display: inline-block;
    width: 25%;
    font-size: 1.5rem;
}

.travel div {
    width: 280px;
    height: 280px;
    margin: 50px auto 50px;
}

.foto1 {
    background-image: url(../assets/italy-2273767_1280.jpg);
    background-size: cover;
    transition: .4s;
}

.foto1:hover {
    background-image: url(../assets/cafe-3537801_1280.jpg);
    background-size: cover;
}

.foto2 {
    background-image: url(../assets/matterhorn-3019429_1280.jpg);
    background-size: cover;
    transition: .4s;
}

.foto2:hover {
    background-image: url(../assets/landscape-540122_1280.jpg);
    background-size: cover;
}

.foto3 {
    background-image: url(../assets/battleship-389274_1280.jpg);
    background-size: cover;
    transition: .4s;
}

.foto3:hover {
    background-image: url(../assets/bunker-622515_1280.jpg);
    background-size: cover;
}


.foto4 {
    background-image: url(../assets/taj-mahal-3654227_1280.jpg);
    background-size: cover;
    transition: .4s;
}

.foto4:hover {
    background-image: url(../assets/kyoto-1976538_1280.jpg);
    background-size: cover;
}


.travel a {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    color: #4a6f30;
    font-weight: 400;
}

.travel a:hover {
    color: #192610;
}

.btn {
    width: 100%;
    margin: 100px 0;
    text-align: center;

}

.btn a {
    display: inline-block;
    height: 40px;
    width: 200px;
    background-color: #d2d6cf;
    cursor: pointer;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    color: #4a6f30;
    border: 1px solid;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: o auto;


}

footer {
    height: 70px;
    background-color: #333;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 70px;
    color: #fffa4f;
}

footer a:hover {
    color: darkorange;
}
